.square {
    height: 100%;
    width: 100%;
    background-color: white;
}
.square:hover {
    background-color: #CCCCCC;
}
.square>img {
    height: 100%;
    width: 100%;
}

.status-text {
    font-size: 1.6rem;
}